@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html,body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body{
    height: 100%;
    /* width: 100vw; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; 
}

.btn-yellow{
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

        i{
            margin-left: 8px;
            font-size: 0,9em;
        }

                &:hover{
                    background-color: #191919;
                    border: 1px solid #191919;
                    color: #F0EFE9;
                }
}

.btn-black{
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-play {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 5px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}


.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #F0EFE9;
    padding: 16px;
    width: 100%;
    

    .container{
                display: grid;
                column-gap:20px;
                align-items: center;
                grid-template-columns: 1fr auto;
                grid-template-areas: "logo menu-bars";


            @media (min-width: 992px) {
                grid-template-columns: auto 1fr auto;
                grid-template-areas: "logo menu social-media"
                                    "logo main-menu btn-login";
                }

            .logo{
              grid-area: logo;
              margin-right:30px;
            }

            .menu-bars{
                grid-area: menu-bars;
                font-size: 25px;
                background-color: transparent;
                border: none;


                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) { 
                    display: none;
                   }
            }

            .menu{
                grid-area: menu;
                display: none;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                margin-top: 10px;
                

                @media (min-width: 992px) {
                        display: block;
                    }

                    .top-menu{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        border-bottom: 1px solid #DAD9D3;
                        padding-bottom: 10px;

                        @media (min-width: 1200px) {
                                justify-content: space-between;
                            }


                            .contact-information{
                            display: none;
                            align-items: center;
                            justify-content: flex-start;
                            

                            @media (min-width: 1200px) {
                                    display: flex;
                                }
                           
                            .content-box{
                                padding-right: 30px;
                                margin-right: 30px;
                                border-right: 1px solid #DAD9D3;

                                i{
                                    margin-right: 5px;
                                    font-size: 1,2em;
                                }

                                    &.last{
                                        border: none;
                                    }
                            }
                        }

                      
                    }       


            }


            .social-media {
                grid-area: social-media;
                display: none;


                @media (min-width: 992px) {
                        display: block;

                        a {
                                color: #191919;
                                font-size: 1, 3rem;
                                margin-left: 10px;
                        
                        
                                &:hover {
                                    color: #7c7c7c;
                                }
                            }
                    }

                }

            .main-menu {
                display: none;
                justify-content: space-between;
                align-items: center;
                


                @media (min-width: 992px) {
                        display: flex;
                        margin-left: 20px;



                        nav {
                        
                                a {
                                    display: inline-block;
                                    color: #191919;
                                    text-decoration: none;
                                    margin-right: 35px;
                                    position: relative;
                        
                                    &.active::after,
                                    &:hover::after {
                                        content: '';
                                        position: absolute;
                                        font-weight: 500;
                                        height: 2px;
                                        width: 15px;
                                        background-color: #191919;
                                        left: 50%;
                                        bottom: -3px;
                                        transform: translate((calc(50% - 15px)));
                                    }
                        
                        
                                    &:hover {
                                        font-weight: 800;
                                    }
                        
                                }
                            }
                    }

                
                
            
           }

           
           
           .btn-login{
            grid-area: btn-login;
            display: none;


            @media (min-width: 992px) {
                    display: flex;
                }

           }

    }
}


.contact-section {

    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines{
        position: absolute;
        top: 500px;
        left:-230px;
        z-index: -1;
    }

    .container {

        display: flex;
        justify-content: center;
        align-items: center;

            @media (min-width: 1200px) {
                    text-align: left;
                }

        .content {
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;


                @media only screen and (max-width: 768px) and (min-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                } 


                @media only screen and (max-width: 640px) and (min-width: 575px) {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    margin: 10px;
                    
                } 



                @media only screen and (max-width: 575px) and (min-width: 542px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    margin-right: 700px;
                    
                } 

                @media only screen and (max-width: 541px) and (min-width: 420px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-right: 900px;
                    
                   
                } 


                @media only screen and (max-width: 420px) and (min-width: 360px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    margin-right: 1000px;
                } 

            h2{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 56px;

                @media (min-width: 768px) {
                    font-size: 48px;
                }

                @media (min-width: 1200px) {
                    font-size: 56px;
                }
            }



            nav {
                        
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;
                    margin-bottom: 20px;
                    
        
                    &.active::after,
                    &:hover::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
        
        
                    &:hover {
                        font-weight: 800;
                    }
        
                }
            }
    }

        }

    }


.contact-menu-section {
    

    .container {

        display: flex;
        justify-content: center;
        align-items: center;

            @media (min-width: 1200px) {
                    text-align: left;
                }

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            


            .contact-menu{     

                display: flex;
                flex-direction: row;
                column-gap: 20px;
                

                @media only screen and (max-width: 1200px) and (min-width: 997px) {
                    
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                    row-gap: 20px;

              } 

                @media only screen and (max-width: 997px) and (min-width: 768px) {
                
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                    row-gap: 20px;

              } 


                @media only screen and (max-width: 768px) and (min-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                    row-gap: 20px;
                } 


                @media only screen and (max-width: 640px) and (min-width: 575px) {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    padding-right: 50%;
                    row-gap: 20px;
                    
                } 



                @media only screen and (max-width: 575px) and (min-width: 542px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    padding-right: 750px;
                    row-gap: 20px;
                    
                } 

                @media only screen and (max-width: 541px) and (min-width: 420px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 675px;
                    row-gap: 20px;

                } 


                @media only screen and (max-width: 420px) and (min-width: 360px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 670px;
                    row-gap: 20px;
                    
                } 


                .contact-menu-card{

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    width: 420px;
                    height: 206px;      
                    background-color: #ffffff;
                    border: 1px solid RGBA(25,25,25,0.2 );
                    position: relative;
                    


                   i{
                        /* border: 8px solid black; */
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        /* column-gap: 30px; */
                        /* background: #191919;  */
                        position: relative;
                        right:20px;
                        bottom: 20px;
                    }


                    .contact-menu-card-text{
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;
                            column-gap: 10px;


                            h3{
                                line-height: 17px;
                                color: #191919;
                                font-weight: 700;
                                font-family: "DM Sans";

                            p{
                                line-height: 14px;
                                color: #191919;
                                font-weight: 400;
                                font-family: "Inter";
                                
                            }   

                            }
                }             
            } 

       }
     }

 }

}  


.message-section {

    background-color: #FFFFFF;
    

    .container {

        background-color: #f0efe9;
        width: 1320px;


        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            


            .message-items{    
                display: flex;
                flex-direction: column;
                width: 1021px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 100px;
                margin-top: 100px;

                @media only screen and (max-width: 1200px) and (min-width: 997px) {
                    
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                    row-gap: 20px;

              } 

                @media only screen and (max-width: 997px) and (min-width: 768px) {
                
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px;
                    row-gap: 20px;

              } 


                @media only screen and (max-width: 768px) and (min-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    margin: 10px;
                    row-gap: 20px;
                } 



                @media only screen and (max-width: 640px) and (min-width: 575px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 0%;
                    margin:0;
                    row-gap: 20px;
                    
                    
                } 



                @media only screen and (max-width: 575px) and (min-width: 542px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 30%;
                    margin:0;
                    row-gap: 20px;
                    
                    
                } 

                @media only screen and (max-width: 541px) and (min-width: 420px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 45%;
                    margin:0;
                    row-gap: 20px;
                  

                } 


                @media only screen and (max-width: 420px) and (min-width: 360px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 80%;
                    padding-right: 55%;
                    margin:0;
                    row-gap: 20px;
                    
                } 


                   
                .message-text{

                  

                    padding: 20px;
                    
                    h3{
                        color: #191919;
                        font-weight: 700;
                        font-family: "DM Sans";
                        font-size: 45px;
                    }
                }

                .message-btns{
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                
                
                .searchbox{
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    padding: 10px 20px;
                    border: 1px solid black;
                    width: 100%;
                
                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        font-size: 12px;
                        margin-left: 5px;
                        width: 100%;
                
                    }
                }

                .message-textarea{

                    background-color: #FFFFFF;
                    border-radius: 25px;
                    padding: 10px 20px;
                    border: 1px solid black;
                    width: 100%;
                    resize: none;

                }

                .btn-yellow{
                    width: 100%;
                }

       }

    }
     }

 }

}  


.map-section {

    background-color: #FFFFFF;
    


        .content {
            padding-top: 60px;
            text-align: center;
            


            .map{   
                
                @media (max-width: 768px) {
                    display: none;
                }

                img{
                    width: 100%;
                }
       
            }
     }

 }



 footer{
           
    .footer-section{
        
        background-color: #0e1021;

            .container{

                        display: grid;
                        column-gap: 20px;
                        grid-template-rows: 1fr auto;
                        width: 100%;
                        height: 100%;
                        
                        
                

                        .logo-image-text {
                            display: grid;
                            grid-template-columns: 0.5fr 1fr;
                            margin-right: 30px;
                            padding: 25px;
                           /*  display: flex;
                            flex-direction: rows;
                            color: rgba(255, 255, 255, 1) */;
                            
                         .logo-text{

                            @media (max-width: 992px) {
                
                                display: none
          
                          } 

                         }

                        

                         @media only screen and (max-width: 991px) and (min-width: 768px) {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin: 10px;
                        } 
          
                        @media only screen and (max-width: 768px) and (min-width: 640px) {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              width: 100%;
                              margin: 10px;

                          } 
          
          
                          @media only screen and (max-width: 640px) and (min-width: 575px) {
                              display: flex;
                              flex-direction: column;
                              justify-content: space-between;
                              width: 100%;
                              margin: 10px;
                          } 
          
          
          
                          @media only screen and (max-width: 572px) and (min-width: 542px) {
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              width: 100%;
                              margin: 10px;
                          } 
          
                          @media only screen and (max-width: 541px) and (min-width: 420px) {
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              width: 100%;
                              margin: 10px;
                              
                             
                          } 
          
          
                          @media only screen and (max-width: 420px) and (min-width: 360px) {
                              display: none;
                          } 
          
                            
        

                        a {
                            
                            text-decoration: none;
                            font-weight: 400;
                            font-family: "Inter";
                            color: rgba(255, 255, 255, 1);
                            font-size: 16px;

                        }
                        
                        p {
                        
                        font-weight: 400;
                        font-family: "Inter";
                        color: rgba(255, 255, 255, 1);
                        font-size: 11px;
                        width:50%;

                        }
                        
                    }

                    .footer-text{

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100%;
                        

                        .footer-text-column{
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;

                            h3{

                            color: #ffffff;
                            font-weight: 700;
                            font-family: "DM Sans";
                            font-size: 16px;

                            }

                            a{
                            
                                color: #ffffff;
                                font-weight: 500;
                                font-family: "Inter";
                                font-size: 11px;
                                color: rgba(255, 255, 255, 0.698);
                            }
                        }


                    }

                    .social-media {
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid rgba(255, 255, 255, 0.698);
                        width: 100%;
                        

                            a {
                                color:rgba(255, 255, 255, 1);
                                font-size: 16px;
                                margin-left: 10px;
                                
                                


                                &:hover {
                                    color: #7c7c7c;
                                }
                            }

                            p{

                                font-weight: 400;
                                font-family: "Inter";
                                color: rgba(255, 255, 255, 0.698);
                                font-size: 11px;
                                
                            }
                        }

                    }


            }

}

