@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html,body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body{
    height: 100%;
    /* width: 100vw; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; 
}

.btn-yellow{
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

        i{
            margin-left: 8px;
            font-size: 0,9em;
        }

                &:hover{
                    background-color: #191919;
                    border: 1px solid #191919;
                    color: #F0EFE9;
                }
}

.btn-black{
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }
}

.btn-play {
    background-color: #FFFFFF;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 5px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0, 9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}


.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{

    padding-top: 60px;
    padding-bottom: 30px;

    @media (min-width:768px){
        padding-top: 120px;
        padding-bottom: 90px;
    }

    h2{
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

header{
    background-color: #F0EFE9;
    padding: 16px;
    width: 100%;
    

    .container{
                display: grid;
                column-gap:20px;
                align-items: center;
                grid-template-columns: 1fr auto;
                grid-template-areas: "logo menu-bars";


            @media (min-width: 992px) {
                grid-template-columns: auto 1fr auto;
                grid-template-areas: "logo menu social-media"
                                    "logo main-menu btn-login";
                }

            .logo{
              grid-area: logo;
              margin-right:30px;
            }

            .menu-bars{
                grid-area: menu-bars;
                font-size: 25px;
                background-color: transparent;
                border: none;


                // Large devices (desktops, 992px and up)
                @media (min-width: 992px) { 
                    display: none;
                   }
            }

            .menu{
                grid-area: menu;
                display: none;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                margin-top: 10px;
                

                @media (min-width: 992px) {
                        display: block;
                    }

                    .top-menu{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        border-bottom: 1px solid #DAD9D3;
                        padding-bottom: 10px;

                        @media (min-width: 1200px) {
                                justify-content: space-between;
                            }


                            .contact-information{
                            display: none;
                            align-items: center;
                            justify-content: flex-start;
                            

                            @media (min-width: 1200px) {
                                    display: flex;
                                }
                           
                            .content-box{
                                padding-right: 30px;
                                margin-right: 30px;
                                border-right: 1px solid #DAD9D3;

                                i{
                                    margin-right: 5px;
                                    font-size: 1,2em;
                                }

                                    &.last{
                                        border: none;
                                    }
                            }
                        }

                      
                    }       


            }


            .social-media {
                grid-area: social-media;
                display: none;


                @media (min-width: 992px) {
                        display: block;

                        a {
                                color: #191919;
                                font-size: 1, 3rem;
                                margin-left: 10px;
                        
                        
                                &:hover {
                                    color: #7c7c7c;
                                }
                            }
                    }

                }

            .main-menu {
                display: none;
                justify-content: space-between;
                align-items: center;
                


                @media (min-width: 992px) {
                        display: flex;
                        margin-left: 20px;



                        nav {
                        
                                a {
                                    display: inline-block;
                                    color: #191919;
                                    text-decoration: none;
                                    margin-right: 35px;
                                    position: relative;
                        
                                    &.active::after,
                                    &:hover::after {
                                        content: '';
                                        position: absolute;
                                        font-weight: 500;
                                        height: 2px;
                                        width: 15px;
                                        background-color: #191919;
                                        left: 50%;
                                        bottom: -3px;
                                        transform: translate((calc(50% - 15px)));
                                    }
                        
                        
                                    &:hover {
                                        font-weight: 800;
                                    }
                        
                                }
                            }
                    }

                
                
            
           }

           
           
           .btn-login{
            grid-area: btn-login;
            display: none;


            @media (min-width: 992px) {
                    display: flex;
                }

           }

    }
}



.contact-section {

    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines{
        position: absolute;
        top: 500px;
        left:-230px;
        z-index: -1;
    }

    .container {

        display: flex;
        justify-content: center;
        align-items: center;

            @media (min-width: 1200px) {
                    text-align: left;
                }

        .content {
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: center;

            h2{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 56px;

                @media (min-width: 768px) {
                    font-size: 48px;
                }

                @media (min-width: 1200px) {
                    font-size: 56px;
                }
            }



            nav {
                        
                a {
                    display: inline-block;
                    color: #191919;
                    text-decoration: none;
                    margin-right: 35px;
                    position: relative;
                    margin-bottom: 20px;
                    
        
                    &.active::after,
                    &:hover::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
        
        
                    &:hover {
                        font-weight: 800;
                    }
        
                }
            }
    }

        }

 }



 .article-news-section {

    background-color: #FFFFFF;
    
    

    .container {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding-bottom: 100px;



        .image-spacing{


            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 50px;
            /* position: relative; */
            
            .link-text-image{
                text-decoration: none;  
                
            
            .image-spacing-text{
                position: relative;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                

                .date{
                    position: absolute;
                    background-color: #f9d783;
                    width: 70px;
                    height: 70px;
                    top:20px;
                    left:20px;

                }

                img{
                    width: 90%;
                }

                h3{
                    color: #191919;
                    font-weight: 700;
                    font-family: "DM Sans";
                    width:80%;
                }

                p{
                    color: #6a6c71;
                    font-weight: 400;
                    font-family: "Inter";
                    width:90%;
                }

        }

      }
}
        
        .number-boxes{

            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 20px;
            padding-top: 60px;
            padding-bottom: 60px;

            .boxes {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 38px;
                    height: 38px;
                    border-radius: 5px;
                    background-color: #ffffff;
                    border: 1px solid #191919;
                
                    &.active {
                            background-color: #191919;
                            color: #FFFFFF;
                        }


                            &:hover {
                                background-color: #191919;
                                color: #FFFFFF;
                            }
                
                
                
                }



        }

       
       
    }

}



.newsletter{
    
    background-color: #F0EFE9;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    .newsletter-background-lines{
        position: absolute;
        bottom:50px;
        right:0;
    }

    .container {
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {

            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 45px;

        }
        
        form {

            input{
                border-radius: 25px;
                outline: none;
                border: 1px solid rgba(25, 25, 25, 0.10);
                margin-right: 20px;
                text-decoration: none;
                padding: 15px 30px;
                font-size: 16px;
             }
            
        }

    }
}





footer{
           
    .footer-section{
        
        background-color: #0e1021;

            .container{

                        display: grid;
                        column-gap: 20px;
                        grid-template-rows: 1fr 0.5fr;
                        width: 100%;
                        height: 257px;
                        
                

                        .logo-image-text {
                            display: grid;
                            grid-template-columns: 0.5fr 1fr;
                            margin-right: 30px;
                            padding: 25px;
                           /*  display: flex;
                            flex-direction: rows;
                            color: rgba(255, 255, 255, 1) */;
                            
        

                        a {
                            
                            text-decoration: none;
                            font-weight: 400;
                            font-family: "Inter";
                            color: rgba(255, 255, 255, 1);
                            font-size: 16px;

                        }
                        
                        p {
                        
                        font-weight: 400;
                        font-family: "Inter";
                        color: rgba(255, 255, 255, 1);
                        font-size: 11px;
                        width:50%;

                        }
                        
                    }

                    .footer-text{

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 100%;
                        

                        .footer-text-column{
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;

                            h3{

                            color: #ffffff;
                            font-weight: 700;
                            font-family: "DM Sans";
                            font-size: 16px;

                            }

                            a{
                            
                                color: #ffffff;
                                font-weight: 500;
                                font-family: "Inter";
                                font-size: 11px;
                                color: rgba(255, 255, 255, 0.698);
                            }
                        }


                    }

                    .social-media {
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid rgba(255, 255, 255, 0.698);
                        width: 100%;
                        

                            a {
                                color:rgba(255, 255, 255, 1);
                                font-size: 16px;
                                margin-left: 10px;
                                
                                


                                &:hover {
                                    color: #7c7c7c;
                                }
                            }

                            p{

                                font-weight: 400;
                                font-family: "Inter";
                                color: rgba(255, 255, 255, 0.698);
                                font-size: 11px;
                                
                            }
                        }

                    }


            }

}
