@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  height: 100%;
  /* width: 100vw; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-play {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
.btn-play i {
  margin-left: 5px;
  font-size: 0, 9em;
}
.btn-play:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.searchbox {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 10px 20px;
  border: 5px solid black;
}
.searchbox input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  margin-left: 5px;
  width: 100%;
}

/* .searchbox-with-positioning {
    background-color: #f3f3f3;
    position: relative;
    border-radius: 25px;
    padding: 8px 20px;
    border: 5px solid black;

    i{
      position: absolute;
      top: 14px;
      left: 20px;
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 12px;
        margin-left: 5px;
        width: 100%;
        padding-left: 20px;

    }
} */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
  width: 100%;
}
header .container {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo menu-bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu social-media" "logo main-menu btn-login";
  }
}
header .container .logo {
  grid-area: logo;
  margin-right: 30px;
}
header .container .menu-bars {
  grid-area: menu-bars;
  font-size: 25px;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
@media (max-width: 991px) {
  header .container .menu-bars {
    display: flex;
    align-items: flex-end;
  }
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .top-menu {
    justify-content: space-between;
  }
}
header .top-menu .contact-information {
  display: none;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 1200px) {
  header .top-menu .contact-information {
    display: flex;
  }
}
header .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
}
header .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1, 2em;
}
header .top-menu .contact-information .content-box.last {
  border: none;
}
header .social-media {
  grid-area: social-media;
  display: none;
}
@media (min-width: 992px) {
  header .social-media {
    display: block;
  }
  header .social-media a {
    color: #191919;
    font-size: 1, 3rem;
    margin-left: 10px;
  }
  header .social-media a:hover {
    color: #7c7c7c;
  }
}
header .main-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  header .main-menu {
    display: flex;
    margin-left: 20px;
  }
  header .main-menu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 35px;
    position: relative;
  }
  header .main-menu nav a.active::after, header .main-menu nav a:hover::after {
    content: "";
    position: absolute;
    font-weight: 500;
    height: 2px;
    width: 15px;
    background-color: #191919;
    left: 50%;
    bottom: -3px;
    transform: translate(calc(50% - 15px));
  }
  header .main-menu nav a:hover {
    font-weight: 800;
  }
}
header .btn-login {
  grid-area: btn-login;
  display: none;
}
@media (min-width: 992px) {
  header .btn-login {
    display: flex;
  }
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  top: 500px;
  left: -230px;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .showcase .container {
    text-align: left;
  }
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 70px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
@media (max-width: 768px) {
  .showcase .container .content h1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 400px) {
  .showcase .container .content p {
    display: block;
    font-size: 20px;
    padding-left: 0px;
    padding-left: 0px;
    width: 50%;
    margin: 10px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 295px) {
  .showcase .container .content p {
    display: block;
    flex-direction: row;
    width: 40%;
    margin: 10px;
    font-size: 32px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
@media (max-width: 768px) {
  .showcase .container .content a {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -100px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.logos {
  background-color: #FFFFFF;
}
.logos .container .logo-content {
  /* Try adjusting the logo using grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1400px) {
  .logos .container .logo-content embed {
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  .logos .container .logo-content embed {
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 994px) {
  .logos .container .logo-content embed {
    justify-content: space-evenly;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 984px) {
  .logos .container .logo-content embed {
    justify-content: space-evenly;
    padding-top: -5px;
    padding-bottom: -5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    margin-left: 15px;
    width: 75%;
    height: 75%;
  }
}
@media (max-width: 894px) {
  .logos .container .logo-content embed {
    justify-content: space-evenly;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 771px) {
  .logos .container .logo-content embed {
    display: none;
  }
}

.features {
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  /* justify-content: space-between; */
}
.features .container {
  display: grid;
  /* justify-content: space-evenly; */
  padding-top: 40px;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.features .container .content {
  padding: 30px;
}
.features .container .content h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #f94d1c;
  justify-content: space-around;
}
.features .container .content p {
  font-size: 45px;
  padding-left: 0px;
  padding-left: 0px;
  font-weight: 700;
}
.features .container .content a {
  display: flex;
  justify-content: center;
}
.features .container .content-items {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  width: 90%;
}
@media (max-width: 771px) {
  .features .container .content-items {
    display: none;
  }
}
.features .container .content-items h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #191919;
}
.features .container .content-items p {
  font-size: 16px;
}
.features .container .content-items p embed {
  display: flex;
  margin: 0px;
  justify-content: space-around;
}

.about-company {
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  justify-content: space-between;
}
.about-company .container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-top: 20px;
  /*  grid-template-columns: repeat(1, 1fr 1fr); */
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about-company .container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
.about-company .container .content img {
  width: 80%;
  height: auto;
  z-index: 0;
}
.about-company .container .content .image-box-text {
  display: flex;
  flex-direction: column;
  background-color: #BEEBFF;
  width: 368px;
  height: 180px;
  position: absolute;
  top: 60%;
  right: 50%;
  z-index: 2;
  padding: 3%;
  row-gap: 10px;
}
.about-company .container .content .image-box-text h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  justify-content: space-around;
  color: #191919;
}
.about-company .container .content .image-box-text h4 span {
  color: #f94d1c;
}
.about-company .container .content .image-box-text p {
  color: #191919;
  font-weight: 500;
  font-style: italic;
  font-family: "Inter";
  font-size: 16px;
}
.about-company .container .content h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #f94d1c;
  justify-content: space-around;
}
.about-company .container .content p {
  font-size: 45px;
  padding-left: 0px;
  padding-left: 0px;
  font-weight: 700;
}
.about-company .container .about-company-items {
  /* display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.about-company .container .about-company-items h3 {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 16px;
}
.about-company .container .about-company-items p {
  color: #191919;
  font-size: 16px;
}
.about-company .container .about-company-items h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  width: 500px;
}
.about-company .container .play-button-text {
  /* display: grid;
  grid-template-columns: auto 1fr; */
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
.about-company .container .play-button-text .center-content p {
  padding-left: 10px;
  padding-top: 10px;
}

.services-section {
  background-color: #f0efe9;
  /* padding: 7.5em 0; */
}
.services-section .container .section-title {
  text-align: start;
  margin-bottom: 10px;
  width: 50%;
}
.services-section .container .services-section-box {
  display: grid;
  padding-bottom: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.875em;
  position: relative;
  /*  @media (min-width: 768px) {
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr;
   } */
}
.services-section .container .services-section-box .sevice-box {
  cursor: pointer;
  padding: 3em 1.875em 2em;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
}
.services-section .container .services-section-box .sevice-box h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 16px;
  text-decoration: overline;
}
.services-section .container .services-section-box .sevice-box .p {
  padding: 15px 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #191919;
}
.services-section .container .services-section-box .sevice-box .services-box-button {
  display: flex;
  justify-content: end;
  width: 100%;
}
.services-section .container .services-section-box .sevice-box:hover {
  background-color: #f9d783;
}
.services-section .container .services-section-box .sevice-box:hover .crito-button-round {
  background-color: white;
  border: white;
}
.services-section .container .services-section-box .sevice-box:hover .crito-button-round svg {
  color: #191919;
}
.services-section .container .services-section-box .center-content {
  position: relative;
  margin-top: 50px;
  margin-bottom: 90px;
  width: 100%;
  left: 500px;
  top: 40px;
}

.choose-us-section .container {
  /* display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 10px; */
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}
.choose-us-section .container .section-title {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
}
.choose-us-section .container .section-title .choose-us {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .choose-us-section .container .section-title .choose-us {
    grid-template-rows: 1fr 1fr;
    /*  border: 5px solid black; */
    /*  display: flex;
     flex-direction: column; */
  }
}
.choose-us-section .container .section-title .choose-us h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 16px;
}
.choose-us-section .container .section-title .choose-us p {
  color: #191919;
}
.choose-us-section .container .section-title .choose-us .choose-us-icon-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
  bottom: 40px;
  left: 60px;
}
.choose-us-section .container .choose-us-image {
  display: flex;
  flex-direction: column;
  position: relative;
}
.choose-us-section .container .choose-us-image .image-move {
  position: absolute;
  bottom: 0;
}
.choose-us-section .container .choose-us-image .image-move1 {
  position: absolute;
  bottom: 150px;
  left: 60px;
}

.project-case-section .container .section-title {
  text-align: center;
  margin-bottom: 10px;
}
.project-case-section .container .project-end-case {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-case-section .container .project-end-case {
    grid-template-columns: 1fr 1fr;
  }
}
.project-case-section .container .project-end-case .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
  /* For increasing or reducing the image size after hover */
}
.project-case-section .container .project-end-case .project img {
  width: 100%;
  height: auto;
}
.project-case-section .container .project-end-case .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-case-section .container .project-end-case .project .readmore {
  padding: 15px 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #191919;
}
.project-case-section .container .project-end-case .project .readmore i {
  margin-left: 3px;
}
.project-case-section .container .project-end-case .project:hover .readmore {
  text-decoration: underline;
}
.project-case-section .container .project-end-case .project:hover img {
  transform: scale(1.1);
}
.project-case-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-section {
  background-color: #f0d082;
}
.meet-our-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}
.meet-our-section .container .section-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.meet-our-section .container .section-title-button .section-title {
  display: flex;
  flex-direction: column;
}
.meet-our-section .container .center-content .btn-yellow {
  background-color: #F9D783;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.meet-our-section .container .center-content .btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.meet-our-section .container .center-content .btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.meet-our-section .container .image-spacing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.meet-our-section .container .circle-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.meet-our-section .container .circle-boxes .circles {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(25, 25, 25, 0.2);
}
.meet-our-section .container .circle-boxes .circles.active {
  background-color: #191919;
}
.meet-our-section .container .circle-boxes .circles:hover {
  background-color: #191919;
}
.meet-our-section .container .text-box-images {
  border-radius: 1px;
  background-color: #ffffff;
  height: 600px;
  padding: 20px;
}
.meet-our-section .container .text-box-images .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.meet-our-section .container .text-box-images .text-box p {
  color: #f94d1c;
  font-weight: 600;
  font-family: "Inter";
}
.meet-our-section .container .text-box-images .text-box h2 {
  font-size: 23px;
  line-height: 28px;
  color: #191919;
  font-weight: 700;
  font-family: "DM Sans";
}
.meet-our-section .container .text-box-images .text-box-star-icon {
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  padding: 60px;
}
.meet-our-section .container .text-box-images .text-box-star-icon p {
  padding: 5px;
}
.meet-our-section .container .text-box-images .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.article-news-section {
  background-color: #FFFFFF;
}
.article-news-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}
.article-news-section .container .section-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-news-section .container .section-title-button .section-title {
  display: flex;
  flex-direction: column;
}
.article-news-section .container .center-content a {
  background-color: #f9d783;
  color: #191919;
  font-weight: 600;
  font-family: "Inter";
}
.article-news-section .container .image-spacing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}
.article-news-section .container .image-spacing .image-spacing-text {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.article-news-section .container .image-spacing .image-spacing-text .date {
  position: absolute;
  background-color: #f9d783;
  width: 70px;
  height: 70px;
  top: 20px;
  left: 20px;
}
.article-news-section .container .image-spacing .image-spacing-text img {
  width: 90%;
}
.article-news-section .container .image-spacing .image-spacing-text h3 {
  color: #191919;
  font-weight: 700;
  font-family: "DM Sans";
  width: 80%;
}
.article-news-section .container .image-spacing .image-spacing-text p {
  color: #6a6c71;
  font-weight: 400;
  font-family: "Inter";
  width: 90%;
}
.article-news-section .container .circle-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.article-news-section .container .circle-boxes .circles {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(25, 25, 25, 0.2);
}
.article-news-section .container .circle-boxes .circles.active {
  background-color: #191919;
}
.article-news-section .container .circle-boxes .circles:hover {
  background-color: #191919;
}
.article-news-section .container .text-box-images {
  border-radius: 1px;
  background-color: #ffffff;
  height: 600px;
  padding: 20px;
}
.article-news-section .container .text-box-images .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.article-news-section .container .text-box-images .text-box p {
  color: #f94d1c;
  font-weight: 600;
  font-family: "Inter";
}
.article-news-section .container .text-box-images .text-box h2 {
  font-size: 23px;
  line-height: 28px;
  color: #191919;
  font-weight: 700;
  font-family: "DM Sans";
}
.article-news-section .container .text-box-images .text-box-star-icon {
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  padding: 60px;
}
.article-news-section .container .text-box-images .text-box-star-icon p {
  padding: 5px;
}
.article-news-section .container .text-box-images .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .newsletter-background-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.newsletter .container form input {
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 20px;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
}

footer .footer-section {
  background-color: #0e1021;
}
footer .footer-section .container {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-rows: 1fr 0.5fr;
  width: 100%;
  height: 257px;
}
footer .footer-section .container .logo-image-text {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-right: 30px;
  padding: 25px;
  /*  display: flex;
   flex-direction: rows;
   color: rgba(255, 255, 255, 1) */
}
footer .footer-section .container .logo-image-text a {
  text-decoration: none;
  font-weight: 400;
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-size: 16px;
}
footer .footer-section .container .logo-image-text p {
  font-weight: 400;
  font-family: "Inter";
  color: rgb(255, 255, 255);
  font-size: 11px;
  width: 50%;
}
footer .footer-section .container .footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
footer .footer-section .container .footer-text .footer-text-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .footer-section .container .footer-text .footer-text-column h3 {
  color: #ffffff;
  font-weight: 700;
  font-family: "DM Sans";
  font-size: 16px;
}
footer .footer-section .container .footer-text .footer-text-column a {
  color: #ffffff;
  font-weight: 500;
  font-family: "Inter";
  font-size: 11px;
  color: rgba(255, 255, 255, 0.698);
}
footer .footer-section .container .social-media {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.698);
  width: 100%;
}
footer .footer-section .container .social-media a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left: 10px;
}
footer .footer-section .container .social-media a:hover {
  color: #7c7c7c;
}
footer .footer-section .container .social-media p {
  font-weight: 400;
  font-family: "Inter";
  color: rgba(255, 255, 255, 0.698);
  font-size: 11px;
}